@using Loans.WebApp.Models

@model List<Client>

<h2>Clients list</h2>
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td><Country/td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title @item.LastName @item.Name, @item.MidName</td>
                <td>@item.Country</td>
            </tr>
        }
    </tbody>
</table>
