@using Loans.WebApp.Models

@model FullEditLoan

<h2>Loan</h2>
@using (Html.BeginForm("PostBusinessData", "Loan", FormMethod.Post))
{
    @Model.BusinessInfo.Id
    <br />

    @Model.BusinessInfo.ClientId
    <br />

    @Html.Label("Business' name:")
    @Html.TextBoxFor(m => m.BusinessInfo.Name)
    <br />

    @Html.Label("Address:")
    @Html.TextBoxFor(m => m.BusinessInfo.Address)
    <br />

    @Html.Label("Phone number:")
    @Html.TextBoxFor(m => m.BusinessInfo.PhoneNumber)
    <br />

    @Html.Label("Tax Id:")
    @Html.TextBoxFor(m => m.BusinessInfo.TaxId)
    <br />

    @Html.HiddenFor(m => m.ClientInfo.CountryId)
    @Html.HiddenFor(m => m.ClientInfo.GenderId)
    @Html.HiddenFor(m => m.ClientInfo.Id)
    @Html.HiddenFor(m => m.ClientInfo.LastName)
    @Html.HiddenFor(m => m.ClientInfo.MidName)
    @Html.HiddenFor(m => m.ClientInfo.Name)
    @Html.HiddenFor(m => m.ClientInfo.TitleId)

    @Html.HiddenFor(m => m.LoanInfo.AmountRequest)
    @Html.HiddenFor(m => m.LoanInfo.APR)
    @Html.HiddenFor(m => m.LoanInfo.ClientId)
    @Html.HiddenFor(m => m.LoanInfo.Id)
    @Html.HiddenFor(m => m.LoanInfo.LateLoans)
    @Html.HiddenFor(m => m.LoanInfo.LoanDate)
    @Html.HiddenFor(m => m.LoanInfo.OutstandingDebt)
    @Html.HiddenFor(m => m.LoanInfo.QtyMonthsPayment)
    @Html.HiddenFor(m => m.LoanInfo.Rating)
    @Html.HiddenFor(m => m.LoanInfo.Risk)

    <input type="submit" value="Continue">

}