@using Loans.WebApp.Models

@model FullEditLoan

<h2>Loan</h2>
@section scripts{
<partial name="_ValidationScriptsPartial" />
}

@using (Html.BeginForm("PostClientInfo", "Loan", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ClientInfo.Id)

    <div class="row">
        <div class="col-sm-2">
            @Html.Label("Title:")
        </div>
        <div class="col-sm-4">
            @Html.DropDownListFor(m => m.ClientInfo.TitleId,
        new SelectList(Model.TitleCatalog, "Id", "Name"),
        "Select Title")
        </div>
        <div class="col-sm-2">
            @Html.Label("Last name:")
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.ClientInfo.LastName)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span asp-validation-for="ClientInfo.TitleId" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <span asp-validation-for="ClientInfo.LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            @Html.Label("Mid name:")
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.ClientInfo.MidName)
        </div>
        <div class="col-sm-2">
            @Html.Label("First name:")
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.ClientInfo.Name)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span asp-validation-for="ClientInfo.MidName" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <span asp-validation-for="ClientInfo.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            @Html.Label("Gender:")
        </div>
        <div class="col-sm-4">
            @Html.DropDownListFor(m => m.ClientInfo.GenderId,
        new SelectList(Model.GenderCatalog, "Id", "Name"),
        "Select Gender")
        </div>
        <div class="col-sm-2">
            @Html.Label("Country:")
        </div>
        <div class="col-sm-4">
            @Html.DropDownListFor(m => m.ClientInfo.CountryId,
        new SelectList(Model.CountryCatalog, "Id", "Name"),
        "Select Country")
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span asp-validation-for="ClientInfo.GenderId" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <span asp-validation-for="ClientInfo.CountryId" class="text-danger"></span>
        </div>
    </div>

    @Html.HiddenFor(m => m.BusinessInfo.Address)
    @Html.HiddenFor(m => m.BusinessInfo.ClientId)
    @Html.HiddenFor(m => m.BusinessInfo.Id)
    @Html.HiddenFor(m => m.BusinessInfo.Name)
    @Html.HiddenFor(m => m.BusinessInfo.PhoneNumber)
    @Html.HiddenFor(m => m.BusinessInfo.TaxId)

    @Html.HiddenFor(m => m.LoanInfo.AmountRequest)
    @Html.HiddenFor(m => m.LoanInfo.APR)
    @Html.HiddenFor(m => m.LoanInfo.ClientId)
    @Html.HiddenFor(m => m.LoanInfo.Id)
    @Html.HiddenFor(m => m.LoanInfo.LateLoans)
    @Html.HiddenFor(m => m.LoanInfo.LoanDate)
    @Html.HiddenFor(m => m.LoanInfo.OutstandingDebt)
    @Html.HiddenFor(m => m.LoanInfo.QtyMonthsPayment)
    @Html.HiddenFor(m => m.LoanInfo.Rating)
    @Html.HiddenFor(m => m.LoanInfo.Risk)

    <input type="submit" value="Continue" class="btn btn-outline-primary">
}