@using Loans.WebApp.Models

@model Search

<h2>Search Loans</h2>

@using (Html.BeginForm("SearchLoan", "Loan", FormMethod.Post))
{
    <div class="row">
        <div class="col-sm-2">
            @Html.Label("Client's name")
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div class="col-sm-2">
            @Html.Label("Client's middle name")
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.MidName)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            @Html.Label("Client's last name")
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.LastName)
        </div>
        <div class="col-sm-2">
            @Html.Label("Business client's name")
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.BusinessName)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            @Html.Label("Amount requested")
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.AmountRequest)
        </div>
        <div class="col-sm-2">
            @Html.Label("Quantity of months to pay")
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.QtyMonthsPayment)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            @Html.Label("APR")
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.APR)
        </div>
        <div class="col-sm-2">
            @Html.Label("Client's rating")
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.Rating)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            @Html.Label("Loan's outstanding debt")
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.OutstandingDebt)
        </div>
        <div class="col-sm-2">
            @Html.Label("Loan's date")
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.LoanDate, "dd/mm/yyyy")
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
    @Html.Label("Client's risk")
        </div>
        <div class="col-sm-4">
    @Html.TextBoxFor(m => m.Risk)
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
    <input type="submit" value="Search">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
        </div>
    </div>


}

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Client Id</td>
            <td>Amount requested</td>
            <td>ARP</td>
            <td>Late loans</td>
            <td>Loan date</td>
            <td>Outstanding debt</td>
            <td>Payment months</td>
            <td>Rating</td>
            <td>Risk</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ClientId</td>
                <td>@item.AmountRequest.ToString("c")</td>
                <td>@item.APR</td>
                <td>@item.LateLoans</td>
                <td>@item.LoanDate.ToShortDateString()</td>
                <td>@item.OutstandingDebt.ToString("c")</td>
                <td>@item.QtyMonthsPayment</td>
                <td>@item.Rating</td>
                <td>@item.Risk</td>
                <td>@Html.ActionLink(linkText: "Edit", actionName: "ClientInfo", controllerName: "Loan", routeValues:new {@id=item.Id}, htmlAttributes:new {@class= "btn btn-outline-info"})</td>
                <td>@Html.ActionLink(linkText: "Delete", actionName: "Delete", controllerName: "Loan", routeValues:new {@id=item.Id}, htmlAttributes:new {@class= "btn btn-outline-danger", onclick="return confirm('Are you sure you wish to delete this loan record?')"})</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
